@import "./base.css";

* {
  font-family: "Noah", sans-serif;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
.mt-8 {
  margin-top: 2rem;
}
.flex {
  display: flex;
}
.justify-end {
  justify-content: flex-end;
}
.wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.justify-between {
  justify-content: space-between;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.justify-end {
  justify-content: flex-end;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.mt-4 {
  margin-top: 1rem;
}
.pl-4 {
  padding-left: 1rem;
}
.text-brand {
  color: #006de3;
}
.bg-brand {
  background: #006de3;
}
.pl-2 {
  padding-left: 0.5rem;
}
.bold {
  font-weight: 700;
}
.mr-2 {
  margin-right: 0.5rem;
}
.text-xs {
  font-size: 12px;
}
